.graphics_img {
	background-image: url("../../assets/gif/congrats.gif/");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

/* style={{
	backgroundImage: `url(${congrats})`,
	height: "100vh",
	backgroundPosition: "center",
	backgroundRepeat: "no-repeat",
	width: "100%",
	backgroundSize: "cover",
  }} */