.MySwiper {
    width: 320px;
    height: 320px;

  }
  
  .swiper-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    
  }
  .youtube {
    background-color: rgba(237, 14, 22, 0.05);
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    height:40px;
    padding-top:15px;
    padding-bottom:30px;
    padding-left:10px;
    padding-right:10px;
    margin: auto;
  }



  

  
 