.card-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between cards as needed */
}

.card {
    /* background: purple; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.expanded-card {
    /* background: purple; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 240px;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-button {
    border: 1px solid #FFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: large; /* Adjust the size as needed */
    cursor: pointer;
    background-color: #FFF;
    font-size: 40px;
    line-height: 1;
    color: #515253;


}

.card-title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF; /* Replace with the actual color codes */
}

.card-expire {
    margin-left: auto;
    font-size: small; /* Adjust the size as needed */
    color: #FFF; /* Replace with the actual color codes */
    writing-mode: vertical-lr;
    position: absolute;
    right: 30px;
    font-size: 9px;
}
.card-expire-num {
    margin-left: auto;
    font-size: small; /* Adjust the size as needed */
    color: #FFF; /* Replace with the actual color codes */
    writing-mode: vertical-lr;
    position: absolute;
    right: 20px;
    font-size: 9px;
}
  
.header {
    font-size: 40px;
    font-weight: 700px;
    color: #FFF;
}

.intro-text {
    font-size: 16px;
    font-weight: 400;
    color: #ECD8EA;
}

.ex-card {
    display: flex;
    width: 100%;
    margin-top: 185px;

}

.text {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 80%;
}

.answer {
    /* margin-left: 150px; */
    border: 1px solid #FFF;
    background-color: #FFF;
    width: 81px;
    height: 27px;
    border-radius: 50px;
    color: #895F9E;
    font-size: 14px;
    font-weight: 800;
    margin-top: 20px;

}

.home {
    height: 100%;
}

.closedQuestions {
    margin-top: 30px;
    width: 107%;
    margin-left: -13px;
    p{
        font-size: 28px;
        font-weight: 700;
        color: rgb(255, 255, 255, 1);
        margin-bottom: 30px;
        margin-left: 17px;

    }
}

.closed-expanded{
    border-radius: 16px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 16px;

}

.close-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #EDECEE;
    font-size: 28px;
}

.exp-text{
    height: 47px;
    .p1{
        font-size: 20px;
        font-weight: 700;
        color: #212A34;
        margin: 0;
        margin-left: 16px;
    }

    .p2{
        font-size: 14px;
        font-weight: 400;
        color: #464E56;
        margin: 0;
        margin-left: 16px;
    }
}

.vote-row {
    width: 100%;
    display: flex;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(94.91deg, rgba(137, 95, 158, 0.16) -18.07%, rgba(87, 45, 243, 0.16) 116.46%);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 8px;

    .vote-text {
        flex-grow: 1;
        font-size: 16px;
        font-weight: 600;
        color: #212A34;
    }
    .vote-count {
        width: 20px;
        padding-top: 1px;
        font-size: 14px;
        font-weight: 600;
        color: #464E56;
    }
}

.closed-date{

    .closed-on{
        font-size: 12px;
        font-weight: 500;
        color: #909499;
    }
    .date{
        font-size: 14px;
        font-weight: 400;
        color: #464E56;
    }
}



